
body {
    height: 100hv;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}   

/*FIRST SEGMENT*/

.element1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    padding-bottom: 30px;
}

.header ,ul, a {
    text-decoration: none;
    color: #f9faf8;
    list-style-type: none;
    font-size: 15px; 
}

.header, ul {
    display: flex;
    gap: 15px;
}

.image img {
    width: 300x;
    height: 250px;
    border: 2px solid white;
    border-radius: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 440px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.info .text1 {
    font-size: 48px;
    width: 340px;
    font-weight: 900;
}

.info .text2 {
    font-size: 18px;
    width: 500px;
    color: #e5e7eb;
}

.info_image {
    display: flex;
    justify-content: center;
    gap: 100px;
}


.info .button {
    margin-top: 14px;
    border: none;
    border-radius: 8px;
    background: rgb(99, 99, 230);
    width: 100px;
    padding: 6px;
    color: white;
    cursor: pointer;
    height: auto;
}

/*SECOND SEGMENT*/

.element2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.someinfo {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937; 
}

.blocktainer {
    display: flex;
    gap: 25px;
}

.blocks {
    max-width: 350px;
    gap: 10px;
}

.blocks img {
    border: 3px solid rgb(99, 99, 230);
    border-radius: 30px;
    width: 350px;
    height: 270px;
}

/*THIRD SEGMENT*/

.element3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 60px;
}

.citation {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 900px;
}

.person {
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 800;
}

/*FOURTH SEGMENT*/

.element4 {
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(99, 99, 230);
    padding: 70px;
    display: flex;  
    gap: 200px;
    border-radius: 15px;
    align-items: center;
}

.messages {
    color: white;
}

.message1 {
    font-size: 30px;
    font-weight: 800;
}


.container .button {
    border: 2px solid white;
    border-radius: 8px;
    background: rgb(99, 99, 230);
    padding: 6px;
    width: 100px;
    color: white;
    cursor: pointer;
}

/*FOOTER*/

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}